.admin-student-list-container {
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.admin-student-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-search-bar {
  display: flex;
  align-items: center;
}

.admin-search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  outline: none;
  transition: border 0.3s ease;
}

.admin-search-bar input:focus {
  border-color: var(--primary-color);
}

.admin-student-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 10px var(--navbar-shadow);
}

.admin-student-table th,
.admin-student-table td {
  padding: 15px;
  text-align: left;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-student-table th {
  background-color: var(--surface-colors);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.admin-student-row:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-1px);
}

.admin-student-row:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

.admin-student-details {
  background-color: rgba(255, 255, 255, 0.1);
  transition: max-height 0.3s ease;
}

.admin-student-detail-content {
  padding: 15px;
}

.admin-load-more {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.admin-load-more:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

/* Responsive styles */
@media (max-width: 600px) {
  .admin-student-table {
      font-size: 14px;
  }

  .admin-load-more {
      width: 100%;
  }
}
